* {margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 0;
    scroll-behavior: smooth;
}

*, *:before, *:before {
	box-sizing: border-box;
}

:root {
    --primary-color: #FBE3E6;
    --secondary-color: #E86100;
    --secondary-color-hover: #e8610072;
    --text-color:#A79D9E;
    --title-text: #666666;
    --lines: #707070;
}

body {
    background-color: var(--primary-color) ;
    background-size: cover;
    margin: 0;
    font-family: 'Merriweather';
    font-weight: 500;
    overflow-x: hidden;
}
//Settings Header
header {
    z-index: 100;
    background-color: var(--primary-color);
    height: 8vw;
    position: fixed;
    width: 100%;
    display: flex;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px 15px #00000017;

    a {
        height: inherit;
      
        img {
            height: inherit;
        }
    }

}
//Settings Hero
.hero{
    background-color: black;
    display: flex;
    z-index: 0;
    height: 61vw;
    width: 100%;
    padding-top: 8vw;

    .title-box{
        z-index: 0;
        width: 50%;
        padding-left: 1.43vw;
        h1 {
            
            font-size: 8vw;
            
        }
        #title1{
            color: var(--title-text);
        }
        #title2, #title3{
            color: white;
            position: absolute;
        }
        #title2 {
            padding-left: 1.43vw;
            top: 18.55vw;
            left: .52vw;
        }
        #title3 {
            padding-left: 1.43vw;
            top: 28.64vw;
            left: 18.42vw;
        }
        h2 {
            font-family: "Space Mono";
            background-color: var(--secondary-color);
            margin-bottom: .52vw;
            width: fit-content;
            line-height: 95%;
            font-size: 1.17vw;
        }
        p {
            color: white;
            font-size: .97vw;
            font-weight: 500;
            margin-top: 2.60vw;
        }
    }

    .hero-img {
         width: 50%;
         height: 100%;
         display: flex;
         justify-content: center;
         object-fit: cover;
         overflow: hidden;

    }
}
//Settings social bar
.divisore-social {

    height: 8.46vw;
    width: 100%;
    border-bottom: 2px solid var(--lines);

    .social-bar {
        display: flex;
        justify-content: space-around;
        top: 50%;
        height: 100%;
        margin-left: 0px;
        width: 50%;
        border-right: 2px solid var(--lines);
       
    
        h1 {
            //margin-left: -8vw;
            font-family: "Space Mono";
            background-color: var(--secondary-color);
            width: fit-content;
            font-size: 1.17vw;
            margin-top: 3.4vw;
            margin-bottom: 3.4vw;
            text-align: center;


            
        }


        .social-links {
            display: flex;
            width: 9.89vw;
            justify-content: space-around;
            margin-top: 3vw;
            margin-bottom: 3vw;
            margin-left: 26vw;
            

            a {   
                height: 2.6vw;
                width: 2.6vw;
                border-radius: 100%;


                div{
                    display: flex;
                    background-color: var(--secondary-color);
                    padding: 10px;
                    border-radius: 100%;
                    height: 2.6vw;
                    width: 2.6vw;
                    justify-content: center;
                    align-items: center;
                }
                div:hover {
                    background-color: var(--secondary-color-hover);
                }
               
                .facebook, .twitter, .mail {
                    img{
                        height: 1.5vw;
                        width: 1.5vw;
                    }    
                }
            }
        }
    
    }
    
}
//Settings nav bar
nav{
<<<<<<< HEAD
    display: none;
=======
    position: absolute;
    height: 11821px;
    z-index: 10;

    ul {
        position: sticky;
        top: 8vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        width: 13vw;
        padding-top: 2vw;
        background-color: #66666677;

    }

    a {
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
        background-color: var(--secondary-color);
        margin-left: .5vw;
        margin-right: .5vw;

    
    }

    li {
        display: block;
        color: black;
        font-family: "Space Mono";
        width: fit-content;
        font-size: 1.95vw;
        text-align: center;
    }

>>>>>>> 81586a37109c63d69c9fdc7679458596136b3c5b
}
//Settings di tutti i paragrafi e prima lettera del primo paragrafo
.paragraph {
    
    #intro::first-letter{
        color: var(--secondary-color);
        font-size: 6.51vw;
        font-weight: 900;

    }
    p {
        color: var(--lines);
        font-size: 1.3vw;
        font-weight: 500;
        width: 50%;
        border-right: 2px solid var(--lines);
        padding: 1.3vw;
        padding-left: 15vw;
    }

}
//Settings primo paragrafo
#p1 {

    display: flex;


    .connect {
        background-color: var(--secondary-color);
        width: 8.1vw;
        height: 1.88vw;
        border-bottom: .13vw solid var(--lines);
        position: relative;
        top: 30vw;
    }

    

    .pullquote {
        margin-left: -7.3vw;
        padding-left: 1.3vw;
        padding-right: 1.3vw;
        width: 40vw;
        height: 31.25vw;
        border: .13vw solid var(--lines);
        position: relative;
        transform: translate(18%, 50%);
        h1 {
            padding-top: 5.7vw;
            font-weight: 900;
            font-size: 3.8vw;
            b{
                color: var(--secondary-color);
            }
        }
        h2 {
            font-family: "Space Mono";
            background-color: var(--secondary-color);
            margin-bottom: .52vw;
            width: fit-content;
            line-height: 95%;
            font-size: 1.17vw;
            margin-top: 1.9vw;

        }
    }
}
//Settings divisore con immagine scudetto italia
.divisore-ita {
    width: 100%;
    background-color: black;
    height: 31.25vw;
    img {
        
        width: 100%;
        height: 31.25vw;
        object-fit: cover;
        object-position: top;
  
    }
    .shadow {
        position: relative;
        top: -31.25vw;
        display: block;
        width: 100%;
        height: 31.25vw;
        box-shadow: inset 10px 10px 35px rgba(0, 0, 0, 0.9); 
    }
}
//Settings titoli paragrafi
#p2, #p4, #p5, #p6, #p7 {
    h1 {
        font-weight: 900;
        font-size: 3.8vw;
        b{
            color: var(--secondary-color);
        }
        width: 50%;
        border-right: 2px solid var(--lines);
        padding-left: 15vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
}

#p2 {
    display: flex;
    flex-wrap: wrap;

    h1 {
        order: 1;
    }

    p{
        order: 3;
        flex: -1 0 100%;
        transform: translateY(-20vw);
        
    }


    .vid-commenti {
        order: 2;
        display: flex;
        position: relative;
        transform: translate(20%, 50%);
        height: 31.25vw;
        width: 40vw;
        border: .13vw solid var(--lines);
        left: -8.1vw;

            iframe {
            height: 26vw;
            width: 40vw;
            margin-top: 5.07vw;
        }
    }
    .connect {
        order: 2;
        background-color: var(--secondary-color);
        width: 8.1vw;
        height: 1.88vw;
        border-bottom: .13vw solid var(--lines);
        position: relative;
        top: 30vw;
        
    }
}

#p3 {
    margin-top: -22.78vw;
    display: flex;

    .vid-commenti2 {
            display: flex;
            position: relative;
            transform: translate(20%, 50%);
            height: 31.25vw;
            width: 40vw;
            border: .13vw solid var(--lines);
            left: -8.1vw;
    
                iframe {
                height: 26vw;
                width: 40vw;
                margin-top: 5.07vw;
            }
        }
        .connect {
            background-color: var(--secondary-color);
            width: 8.1vw;
            height: 1.88vw;
            border-bottom: .13vw solid var(--lines);
            position: relative;
            top: 29.29vw;
        }
}

#p4 {
    display: flex;
    flex-wrap: wrap;

    h1 {
        order: 1;
        padding-top: 4vw;
    }

    p{
        order: 3;
        flex: -1 0 100%;
        transform: translateY(-20vw);
        padding-top: 10vw;
    }

    .vid-lacrime {
        display: flex;
        order: 2;
        position: relative;
        transform: translate(20%, 50%);
        height: 31.25vw;
        width: 40vw;
        border: .13vw solid var(--lines);

            iframe {
            height: 26vw;
            width: 40vw;
            margin-top: 5.07vw;
        }
    }
    .connect {
        order: 3;
        background-color: var(--secondary-color);
        width: 8.1vw;
        height: 1.88vw;
        border-bottom: .13vw solid var(--lines);
        position: relative;
        
    }


}

#p5 {
    margin-top: -22.78vw;
    display: flex;
    flex-wrap: wrap;

    h1 {
        order: 1;
        padding-top: 10vw;
        padding-bottom: 2vw;
    }

    .space {
        order: 2;
        height: 10vw;
        width: 50%;
    }

    #p1{
        order: 3;
        padding-bottom: 9vw;
    }

    .vid-gol-1 {
        display: flex;
        order: 4;
        position: relative;
        transform: translate(18%, 5%);
        height: 17.57vw;
        width: 27.34vw;
        border: .13vw solid var(--lines);
        left: -14.5vw;
    }

    #p2 {
        order: 5;
        padding-bottom: 12vw;
        padding-top: 4vw;
    }

    .vid-gol-2 {
        display: flex;
        order: 6;
        position: relative;
        transform: translate(17%, 5%);
        height: 17.57vw;
        width: 27.34vw;
        border: .13vw solid var(--lines);
    }

    #p3 {
        order: 7;
        padding-top: 28vw;
        padding-bottom: 10vw;
    }

    .vid-gol-3 {
        order: 8;
        position: relative;
        transform: translate(17%, 5%);
        height: 17.57vw;
        width: 27.34vw;
        border: .13vw solid var(--lines);
    }

    #p4 {
        order: 9;
        
    }

    iframe {
        margin-top: 1.9vw;
        height: 15.43vw;
        width: 27.34vw;
    }

    .connect {
        order: 3;
        background-color: var(--secondary-color);
        width: 4.7vw;
        height: 1.10vw;
        border-bottom: .13vw solid var(--lines);
        position: relative;
    }
    #c1 {
        top: 10vw;
    }
    #c2{
        top: 36vw;
        left: -4.7vw;
    }
    #c3{
        top: 64vw;
        left: -9.4vw;
    }
}

#p6 {

    display: flex;
    flex-direction: column;

    .par1 {
        display: flex;
        flex-wrap: wrap;

        .vid-occasioni {
            display: flex;
            position: relative;
            transform: translate(20%, 50%);
            height: 31.25vw;
            width: 40vw;
            border: .13vw solid var(--lines);
            left: -8.1vw;
    
                iframe {
                height: 26vw;
                width: 40vw;
                margin-top: 5.07vw;
            }
        }
        .connect {
            background-color: var(--secondary-color);
            width: 8.1vw;
            height: 1.88vw;
            border-bottom: .13vw solid var(--lines);
            position: relative;
            top: 29.29vw;
        }
    }


    #p-white{
        color: white;
        z-index: 10;
        border: none;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 75vw;
        position: relative;
        z-index: 0;
        bottom: 74vw;

    }
}

#p7{
    margin-top: -74vw;

    display: flex;
    flex-wrap: wrap;

    h1 {
        order: 1;
    }
    
    p{
        order: 3;
        margin-top: -53vw;
    }

    .img-box {
        order: 2;
        width: 50%;
        height: 63.8vw;
        padding-top: 8vw;
    }

    .box1, .box2, .box3, .box4, .box5 {
        border: .13vw solid var(--lines);
    }

    .box1 {
        width:28.45vw;
        height: 19vw;
        margin-top: 2.92vw;
        margin-left: 7.16vw;

    }

    #img1 {
        width:28.2vw;
        margin-top: 2.9vw;
    }

    .box2 {
        width:15.7vw;
        height: 9.5vw;
        margin-top: 5vw;
        margin-left: 10vw;
    }

    #img2 {
        width: 15.45vw;
        margin-top: 2vw;
    }

    .box3 {
        width:20.7vw;
        height: 14.2vw;
        margin-top: -13.3vw;
        margin-left: 27vw;

    }
    
    #img3{
        width: 20.5vw;
        margin-top: 2.4vw;

    }

    .box4{
        width:25.7vw;
        height: 14.3vw;
        margin-top: 1vw;
        margin-left: 12vw;

    }

    #img4{
        width: 25.45vw;
        margin-top: 2vw;

    }

    .box5{
        width:11.7vw;
        height: 8.7vw;
        margin-top: 1vw;
        margin-left: 35vw;

    }

    #img5{
        width: 11.45vw;
        margin-top: 2vw;
        
    }
}

.img-bot {
    width: 100%;
    display: flex;

    img{
        object-fit: contain;
        width: 100%;
    }
}

//Settings footer
footer{
    background-color: black;
    height: 7.68vw;
    display: flex;

    img{
        filter: invert(1);
        padding-left: 6.51vw;
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }
    h1 {
        font-size: .97vw;
        color: white;
        font-style: normal;
        font-weight: 500;
        margin-top: 3.25vw;
        margin-left: 1.67vw;
    }
}